.elementor-895 .elementor-element.elementor-element-276d163c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-895 .elementor-element.elementor-element-287a382{color:var( --e-global-color-5b63002 );}.elementor-895 .elementor-element.elementor-element-bd58b15 .elementor-heading-title{color:#138823;font-family:"Roboto", Sans-serif, roboto;font-weight:500;}.elementor-895 .elementor-element.elementor-element-753a51a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-895 .elementor-element.elementor-element-753a51a:after{content:"0.66";}.elementor-895 .elementor-element.elementor-element-753a51a .elementor-post__thumbnail__link{width:100%;}.elementor-895 .elementor-element.elementor-element-753a51a .elementor-post__meta-data span + span:before{content:"///";}.elementor-895 .elementor-element.elementor-element-753a51a{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-895 .elementor-element.elementor-element-753a51a.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-895 .elementor-element.elementor-element-753a51a.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-895 .elementor-element.elementor-element-753a51a.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-895 .elementor-element.elementor-element-753a51a .elementor-pagination{text-align:center;}body:not(.rtl) .elementor-895 .elementor-element.elementor-element-753a51a .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-895 .elementor-element.elementor-element-753a51a .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-895 .elementor-element.elementor-element-753a51a .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-895 .elementor-element.elementor-element-753a51a .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}@media(max-width:767px){.elementor-895 .elementor-element.elementor-element-753a51a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-895 .elementor-element.elementor-element-753a51a:after{content:"0.5";}.elementor-895 .elementor-element.elementor-element-753a51a .elementor-post__thumbnail__link{width:100%;}}@media(min-width:768px){.elementor-895 .elementor-element.elementor-element-19fccd1d{width:24%;}.elementor-895 .elementor-element.elementor-element-654888e0{width:76%;}}/* Start custom CSS for column, class: .elementor-element-19fccd1d */.postCategories h5{
       line-height: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    color: #fff;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3ab54a;
    text-transform: uppercase;
}

.postCategories li a {
 display: block;
    padding: 6px 0px 6px 22px;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-287a382 */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-654888e0 */.heading {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.headingText {
        color: #2ecc71;
}

.text {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */