.elementor-795 .elementor-element.elementor-element-0cc24ec{color:var( --e-global-color-5b63002 );}.elementor-795 .elementor-element.elementor-element-b15439c{color:var( --e-global-color-5b63002 );font-family:"Roboto", Sans-serif, roboto;font-size:14px;font-weight:400;text-transform:uppercase;}.elementor-795 .elementor-element.elementor-element-c3fd46e{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-501c74e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-4b59355{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-d5bca4c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-72a126e{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-13fb92c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-60589f2{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-99f6dee > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-7820441{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-528da44 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-795 .elementor-element.elementor-element-26cb9414{width:24%;}.elementor-795 .elementor-element.elementor-element-13be7608{width:76%;}}/* Start custom CSS for section, class: .elementor-element-0cc24ec */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4b59355 */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-13be7608 */.heading {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.headingText {
        color: #2ecc71;
}

.text {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */