.elementor-892 .elementor-element.elementor-element-15e0108 .elementor-heading-title{color:#566C25;font-family:"Roboto", Sans-serif, roboto;font-size:24px;font-weight:600;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-892 .elementor-element.elementor-element-15e0108 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-892 .elementor-element.elementor-element-5afc5010 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-892 .elementor-element.elementor-element-18805fca .elementor-heading-title{color:var( --e-global-color-b1705de );}.elementor-892 .elementor-element.elementor-element-18805fca > .elementor-widget-container{padding:12px 0px 12px 0px;}.elementor-892 .elementor-element.elementor-element-18805fca{width:auto;max-width:auto;}.elementor-892 .elementor-element.elementor-element-68da6721 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-892 .elementor-element.elementor-element-16a30550 .elementor-heading-title{color:var( --e-global-color-b1705de );}.elementor-892 .elementor-element.elementor-element-16a30550 > .elementor-widget-container{padding:12px 0px 12px 0px;}.elementor-892 .elementor-element.elementor-element-16a30550{width:auto;max-width:auto;}@media(min-width:768px){.elementor-892 .elementor-element.elementor-element-66884891{width:25%;}.elementor-892 .elementor-element.elementor-element-72402a2b{width:75%;}}@media(max-width:1024px) and (min-width:768px){.elementor-892 .elementor-element.elementor-element-66884891{width:38%;}.elementor-892 .elementor-element.elementor-element-72402a2b{width:62%;}}@media(max-width:1024px){.elementor-bc-flex-widget .elementor-892 .elementor-element.elementor-element-66884891.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-892 .elementor-element.elementor-element-66884891.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}}/* Start custom CSS for heading, class: .elementor-element-18805fca */.postCategories h5{
       line-height: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    color: #fff;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3ab54a;
    text-transform: uppercase;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-16a30550 */.postCategories h5{
       line-height: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    color: #fff;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3ab54a;
    text-transform: uppercase;
}/* End custom CSS */
/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */