.elementor-795 .elementor-element.elementor-element-65a2bfb .elementor-heading-title{color:#566C25;}.elementor-795 .elementor-element.elementor-element-65a2bfb > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-4ee2d35{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-3de1a8b3{color:#2ECC71;}.elementor-795 .elementor-element.elementor-element-3de1a8b3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-c558183{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-190af0e2{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-6eebe05c{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-16089fd{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-484a4ab{color:#2ECC71;}.elementor-795 .elementor-element.elementor-element-484a4ab > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-7c736791{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-42ca87a{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-795 .elementor-element.elementor-element-e85f8a7{width:25%;}.elementor-795 .elementor-element.elementor-element-6d988da9{width:75%;}}@media(max-width:1024px) and (min-width:768px){.elementor-795 .elementor-element.elementor-element-e85f8a7{width:38%;}.elementor-795 .elementor-element.elementor-element-6d988da9{width:62%;}}@media(max-width:1024px){.elementor-bc-flex-widget .elementor-795 .elementor-element.elementor-element-e85f8a7.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-795 .elementor-element.elementor-element-e85f8a7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}}/* Start custom CSS for section, class: .elementor-element-4ee2d35 */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-16089fd */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */