.elementor-1047 .elementor-element.elementor-element-2814967{color:var( --e-global-color-5b63002 );}.elementor-1047 .elementor-element.elementor-element-0bda7e8{color:var( --e-global-color-5b63002 );font-family:"Roboto", Sans-serif, roboto;font-size:14px;font-weight:400;text-transform:uppercase;}.elementor-1047 .elementor-element.elementor-element-90e2bdf{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-82e1527 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-c2c708d{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-cfddf0f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-2758033{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-b5a1945 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-9e69f32{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-e922db7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-09043c5{color:var( --e-global-color-5b63002 );margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-983a737 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1047 .elementor-element.elementor-element-296c55b .elementor-icon-list-icon{width:14px;}.elementor-1047 .elementor-element.elementor-element-296c55b .elementor-icon-list-icon i{font-size:14px;}.elementor-1047 .elementor-element.elementor-element-296c55b .elementor-icon-list-icon svg{width:14px;}.elementor-1047 .elementor-element.elementor-element-0c3c6e4{--alignment:right;--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}body.elementor-page-1047{padding:0px 0px 0px 0px;}@media(max-width:1024px){ .elementor-1047 .elementor-element.elementor-element-0c3c6e4{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}}@media(max-width:767px){ .elementor-1047 .elementor-element.elementor-element-0c3c6e4{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}}/* Start custom CSS for section, class: .elementor-element-2814967 */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-c2c708d */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4eb50c7 */.heading {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.headingText {
        color: #2ecc71;
}

.text {
    margin: 0;
}/* End custom CSS */