.elementor-2139 .elementor-element.elementor-element-24827c8e .elementor-heading-title{color:#566C25;}.elementor-2139 .elementor-element.elementor-element-24827c8e > .elementor-widget-container{margin:0px 0px 0px 0px;}@media(min-width:768px){.elementor-2139 .elementor-element.elementor-element-3c19216c{width:25%;}.elementor-2139 .elementor-element.elementor-element-6936642e{width:75%;}}@media(max-width:1024px) and (min-width:768px){.elementor-2139 .elementor-element.elementor-element-3c19216c{width:38%;}.elementor-2139 .elementor-element.elementor-element-6936642e{width:62%;}}@media(max-width:1024px){.elementor-bc-flex-widget .elementor-2139 .elementor-element.elementor-element-3c19216c.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-2139 .elementor-element.elementor-element-3c19216c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}}/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */