.elementor-898 .elementor-element.elementor-element-542be8d2{color:var( --e-global-color-5b63002 );}.elementor-898 .elementor-element.elementor-element-69b13af .elementor-heading-title{color:#138823;font-family:"Roboto", Sans-serif, roboto;font-weight:500;}.elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta__content{min-height:100px;text-align:center;}.elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta__bg-wrapper{min-height:315px;}.elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta__title{font-family:"Roboto", Sans-serif, roboto;font-size:14px;font-weight:600;}.elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta__description{font-family:"Roboto", Sans-serif, roboto;font-size:12px;font-weight:400;}.elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta .elementor-cta__bg, .elementor-898 .elementor-element.elementor-element-51dc23d .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta__content{min-height:100px;text-align:center;}.elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta__bg-wrapper{min-height:315px;}.elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta__title{font-family:"Roboto", Sans-serif, roboto;font-size:14px;font-weight:600;}.elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta__description{font-family:"Roboto", Sans-serif, roboto;font-size:12px;font-weight:400;}.elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta .elementor-cta__bg, .elementor-898 .elementor-element.elementor-element-13f7b32 .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta__content{min-height:100px;text-align:center;}.elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta__bg-wrapper{min-height:315px;}.elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta__title{font-family:"Roboto", Sans-serif, roboto;font-size:14px;font-weight:600;}.elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta__description{font-family:"Roboto", Sans-serif, roboto;font-size:12px;font-weight:400;}.elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta .elementor-cta__bg, .elementor-898 .elementor-element.elementor-element-342c3dc .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}@media(min-width:768px){.elementor-898 .elementor-element.elementor-element-7562530d{width:28%;}.elementor-898 .elementor-element.elementor-element-54bf0e6d{width:72%;}}/* Start custom CSS for section, class: .elementor-element-542be8d2 */.heading  h1 {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-54bf0e6d */.heading {
        font-size: 22px;
    color: #138823;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.headingText {
        color: #2ecc71;
}

.text {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS */.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.m0 {
    margin: 0;
}/* End custom CSS */